body{
    margin:0;
}
.logo-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}
img{
    width: 800px;
    height:auto;
    
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding:0;
    margin: 0;
}

a {
    text-decoration: none;
    color:inherit;
}
.signup-intro{
    display: flex;
    justify-content: space-between;
    
}
h1 {
    margin:0;
}
.header{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #1f2937;
    margin: 0;
    padding-bottom: 50px;
}

.sign-up{
    width: 500px;
    display: flex;
    flex-direction: column;
    flex:1;
}
button.sign-up1{
    width: 75px;
    height:35px;
    background-color: #3882f6;
    border-width: 0px;
    color: #f9faf8;
    border-radius: 3px;
}
button.sign-up2{
    height: 35px;
    width: 
}
.logo{
    font-size: 24px;
    color:#f9faf8;
}
.sign-up h1{
    font-size: 48px;
    font-weight: bolder;
    color: #e5e7eb;
}
.sign-up p,a{
    font-size: 18px;
    color: #f9faf8;
}
p.info{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.content{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.block{
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
    align-items: center;
    padding: 0;
}
.square{
    border:#3882f6 3px solid;
    border-radius: 7px;
    width: 100px;
    height: 100px;
}
.quote-container{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    padding: 20px;
}
.quote-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: fit-content;
}
.quote-container p{
    margin: 5px;
}
.quote-source{
    align-self: flex-end;
    font-weight: bold;
    font-size: 18px;
    font-style: normal;
}
.quote{
    font-style: italic;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-for-action{
    background-color: #3882f6;
    width: 800px;
    height:100px;
    margin: 75px;
    border-radius: 7px;;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
button.sign-up2{
    font-size: 18px;
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 3px;
    border: 1px solid #f9faf8;
    height: 25px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
}
.text .call{
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bolder;
}
.text .sign-up-prompt{
    font-size: 13px;
    margin-top: 5px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color:#e5e7eb;
    height: 75px;
}